<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress" value="https://nuget.devexpress.com/HOHBdYZjv9bJUCxZKqAIfFQl7FmUEzrpdxpGHncHpGbt88hukS/api" />
  </packageSources>
  <packageSourceCredentials>
    <DevExpress>
      <add key="Username" value="pofani3097@apxby.com" />
      <add key="ClearTextPassword" value="HOHBdYZjv9bJUCxZKqAIfFQl7FmUEzrpdxpGHncHpGbt88hukS" />
    </DevExpress>
  </packageSourceCredentials>
</configuration>
